<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="mathCheatObject" class="com.spring.loosecoupling.MathCheat" />
	<bean id="scienceCheatObject" class="com.spring.loosecoupling.ScienceCheat" />
		
	<bean id="student" class="com.spring.loosecoupling.Student">
		<property name="cheat" ref="scienceCheatObject" />
	</bean>
	

</beans>